<h1>My Dashboard</h1>

{{> flash_messages}} 

<h2>My Projects</h2>
<ul>
  {{#each userProjects}}
  <li>
  <a href= "/projects-list{{this._id}}">{{this.projectName}}</a>
  </li>
  {{/each}}
</ul>


<h2>My Contributions</h2>
<ul>
  {{#each userContributions}}
  <li>
  <p>You contributed ${{this.amount}} to <a href="/projects-list{{this._id}}">{{this.project.projectName}}</a> on {{this.project.getGoodDate}}</p>


  </li>
  {{/each}}
</ul>


<br/>


<button><a href="/start-a-project">Start a new project</a></button>


