<h2>My Dashboard</h2>

{{> flash_messages}} 

<h2>My Projects</h2>
{{!-- <div class="project-list"> --}}

<ul>
  {{#each userProjects}}
  <li>
  <a href= "/projects-list/{{this._id}}"><img src="{{this.pictureUrl}}" height="185px" width ="245px" /></a>
  <a href= "/projects-list/{{this._id}}">{{this.projectName}}</a>
  </li>
  {{/each}}
</ul>


<h2>My Contributions</h2>
<ul>
  {{#each userContributions}}
  <li>
  <p>You contributed ${{this.amount}} to <a href="/projects-list{{this._id}}">{{this.project.projectName}}</a> on {{this.project.getGoodDate}}</p>


  </li>
  {{/each}}
</ul>
{{!-- </div> --}}

<br/>


<button><a href="/start-a-project">Start a new project</a></button>


