<h1>My Dashboard</h1>

{{> flash_messages}} 

<h2>My Projects</h2>
<ul>
  {{#each userProjects}}
  <li>
  {{this.projectName}}
  <a href="/projects-list/{{this._id}}">See Project</a>
  </li>
  {{/each}}
</ul>


<h2>My Contributions</h2>
<ul>
  {{#each userContributions}}
  <li>
 <p> You contributed $ {{this.amount}} to {{this.project.projectName}} on {{this.project.createdAt}}</p>
  <a href="/projects-list/{{this._id}}">See Project</a>

  </li>
  {{/each}}
</ul>





<button><a href="/start-a-project">Start a project</a></button>

<button><a href="/my-contributions">My contributions</a></button>
