

<div class="headerhp">
    <h1>Featured Project</h1>
<hr>
<div class= "bigcontent-header">

<div class="main-content">
<h2>Name of a Project</h2>

<img class="img-big" src="https://quotefancy.com/media/wallpaper/1600x900/4675624-Sonny-Franco-Quote-The-best-project-you-ll-ever-work-on-is-you.jpg" alt="">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>

{{!-- bigcontent-header --}}
<a href="/start-a-project">
<div class="start-project">
Start a Project
</div>
</a>
</div>

{{!-- headerhp --}}

  <h1>Latest Project</h1>
<div class="latest-projects-box">
<div class="latest-projects"><a href="./projects-list/{{resultOne._id}}">
    <img src="{{resultOne.pictureUrl}}" alt="">
    <h3>{{resultOne.projectName}}</h3>
    <p>{{resultOne.shortDescription}}</p>
    </a>
</div>
<div class="latest-projects"><a href="./projects-list/{{resultTwo._id}}">
    <img src="{{resultTwo.pictureUrl}}" alt="">
    <h3>{{resultTwo.projectName}}</h3>
    <p>{{resultTwo.shortDescription}}</p>
    </a>
</div>
<div class="latest-projects"><a href="./projects-list/{{resultThree._id}}">
    <img src="{{resultThree.pictureUrl}}" alt="">
    <h3>{{resultThree.projectName}}</h3>
    <p>{{resultThree.shortDescription}}</p>
    </a>
</div>

</div>


</div>
</div>

