<h2>{{projectData.projectName}}</h2>
<img src=“{{projectData.pictureUrl}}” alt=“”>
<p>{{projectData.longDescription}}</p>

<p>{{projectData.moneyReceived}} out of {{projectData.moneyExpected}}</p>


<form action="/process-contribution" method="POST">
<label>
$:
<input type="number" name="amount"/>
</label>
<input type="hidden" name="projectId" value="{{projectData._id}}">
<br/>

<button>Contribute</button>

<br/>
{{> flash_messages}} 
</form>



