<h2>{{projectsItem.title}}</h2>

<img src="{{projectsItem.imageUrl}}">

<p>{{projectsItem.longDescription}}</p>

<p>{{projectsItem.moneyExpected}}</p>

<p>{{projectsItem.endDate}}</p>

<p>{{projectsItem.comments}}</p>

<p>{{projectsItem.contributors}}</p>

