<h2>{{projectData._id}}</h2>
<h2>{{projectData.projectName}}</h2>
<h2>{{projectData.longDescription}}</h2>
<h2>{{projectData.shortDescription}}</h2>

{{!-- <img src="{{projectsItem.imageUrl}}">

<p>{{projectsItem.longDescription}}</p>

<p>{{projectsItem.moneyExpected}}</p>

<p>{{projectsItem.endDate}}</p>

<p>{{projectsItem.comments}}</p>

<p>{{projectsItem.contributors}}</p> --}}

