<section class="dashboard-page">
<div class="whatsup">
<h2>What's up {{userMe}}?</h2>
</div>
<div class="my-everything">

{{> flash_messages}} 
<div class="my-project">
<h2 style= 'padding: 30px 0px'>My Projects</h2>
{{!-- <div class="project-list"> --}}


{{#each userProjects}}
<div>
<ul>
  <div class="block-img-content">
    <li><img src="{{this.pictureUrl}}" height="185px" width ="245px" /></li>
    <div class="text-content">
      <li>{{this.projectName}}</li>
      <li>{{this.shortDescription}}</li>
      <li><a href="/projects-list/{{this._id}}">See Details</a></li>
    </div>
  </div>
</ul>
</div>
{{/each}}
  
</div>
<div class="my-contributions">
<h2  style= 'padding: 30px 0px'>My Contributions</h2>

 {{#each userContributions}}
<ul>
 
  <li>
  <p>You contributed ${{this.amount}} to <a href="/projects-list/{{this._id}}">{{this.project.projectName}}</a> on {{this.project.getCreatedAt}}</p>


  </li>
  {{/each}}
</ul>
</div>
{{!-- </div> --}}

<br/>
</div>

<div class="startproject-btn">
<button><a href="/start-a-project">Start a new project</a></button>
</div>

</section>


