<div class="project-page-all">

<div class="content-project-page">
<h2>{{projectData.projectName}}</h2>
<p style="font-style: italic">Created by </p>
<p>{{projectData.shortDescription}}</p>
<img src="{{projectData.pictureUrl}}" alt="">
<p>{{projectData.longDescription}}</p>
</div>

<div class="project-info">
 
<h3>More Information</h3>

<p> Still <span style="text-decoration:underline">{{timeLeft}} days</span> before the end date!</p>

<p>${{projectData.moneyReceived}} out of ${{projectData.moneyExpected}}</p>

<p>{{contributors}} contributions so far!</p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{moneyLeft}}" aria-valuemin="0" aria-valuemax="100" style="width: {{moneyLeft}}%"></div>
</div>

<form action="/process-contribution" method="POST">
<label>
Fuel This Project:
<input type="number" name="amount"/>
</label>
<input type="hidden" name="projectId" value="{{projectData._id}}">
<br/>

<button class="btn-contribute">Contribute</button>

<br/>
{{> flash_messages}} 
</form>
</div>

</div>

{{!-- SHOW THE COMMENT --}}

<ul>
{{#each allComments}}
  <li><h5>{{this.commentWriter.[0].firstName}}</h5></li>
  <li><p>{{this.commentWriter.[0].lastName}}</p></li>
  <li><p>{{this.commentContent}}</p></li>
  
{{/each}}
</ul>



{{!-- SHOW THE COMMENT --}}






<form action="/process-comment" method="POST">
  <label>
   Comment:
    <input type="String" name="commentContent"/>
  </label>
  <input type="hidden" name="projectId" value="{{projectData._id}}">
  <br/>

  <button>Comment</button>

  <br/>
  {{> flash_messages}} 
</form>



