<div class="project-page-all">

<div class="content-project-page">
    {{> flash_messages}} 
<h2>{{projectData.projectName}}</h2>
{{#if isPostAuthor}}
<a href="/projects-list/{{projectData._id}}/edit-your-project">Edit your project</a>
{{/if}}
<p>{{projectData.shortDescription}}</p>
<img src="{{projectData.pictureUrl}}" alt="">
<div class="project-description">
<p>{{projectData.longDescription}}</p>
</div>
</div>


<div class="project-info">
 
<h3>More Information</h3>

<span>{{creatorName}}</span>
<p class="text-info-box-grey">is the creator of the project</p>

<span>{{timeLeft}}</span>
<p class="text-info-box-grey"> days remaining before the end date!</p>

<span>{{contributors}}</span>
<p class="text-info-box-grey">contributions so far!</p>

<p>${{projectData.moneyReceived}} out of ${{projectData.moneyExpected}}</p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{moneyLeft}}" aria-valuemin="0" aria-valuemax="100" style="width: {{moneyLeft}}%"></div>
</div>

<form action="/process-contribution" method="POST">
<label>
Fuel This Project:
<input type="number" name="amount"/>
</label>
<input type="hidden" name="projectId" value="{{projectData._id}}">
<br/>

<button class="btn-contribute">Contribute</button>

<br/>
</form>
</div>

</div>

<hr>

{{!-- SHOW THE COMMENT --}}


<div class="comment-box">
  <h1>Comments</h1>
<ul>
{{#each allComments}}
  <li>  By </span> {{this.commentWriter.[0].firstName}} {{this.commentWriter.[0].lastName}}</li>
  <li class="on-date-comment">On {{this.createdAt}}</li>
  <li class="text-comment-box-grey">{{this.commentContent}}</li>
{{/each}}
</ul>
</div>



{{!-- SHOW THE COMMENT --}}






<form action="/process-comment" method="POST">
  <label>
   Comment:
    <input type="String" name="commentContent"/>
  </label>
  <input type="hidden" name="projectId" value="{{projectData._id}}">
  <br/>

  <button>Comment</button>

  <br/>

</form>



