<section class="livepro"> 
<div class="text-pro-list">
<h2 id="text-livepro" >Live Projects</h2>
<div class="start-yours">
<a class="btn-start-project" href="/start-a-project">Start Yours!</a>
</div>
</div>
<hr>
{{!-- <section class="project-list"> --}}
<div class="allprojects-box">

<ul> 
    {{#each projectsArray}}

  <li>
      {{!-- <a href= "/projects-list{{this._id}}">{{this.projectName}}</a> --}}
    <a href= "/projects-list/{{this._id}}"><img class="list-image" src="{{this.pictureUrl}}" /></a>
        <h5 style="padding: 15px 0px;"><a href= "/projects-list/{{this._id}}">{{this.projectName}}</a></h5>
        <p style="width: 245px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    {{!-- <h4>{{this.shortDescription}}</h4> --}}
  </li>
    
  {{/each}}
  </ul>
  </div>
  </section>
  

  {{!-- </section> --}}